---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&source=tok_1AhsweHFLiFZKNGuwJ5bUUPs&description=Charge+for+test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_uZbGhThn0i7UAyePVJ5ert6M
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1AhswfHFLiFZKNGu5phzWUbU"
          }
        }
  recorded_at: Fri, 21 Jul 2017 04:40:55 GMT
recorded_with: VCR 3.0.3
