.form-group
  = form_tag search_videos_path, enforce_utf8: false, method: "get" do
    = text_field_tag :query, nil, class: "form-control", placeholder: "Search for videos here"
    = submit_tag "Search", name: nil, class: "btn btn-default"