---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_uZbGhThn0i7UAyePVJ5ert6M
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AhlV0HFLiFZKNGu2yqE9POv",
          "object": "token",
          "card": {
            "id": "card_1AhlV0HFLiFZKNGuBRFNrJy9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "Kmy7oygurKfDZ6QO",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "184.153.111.85",
          "created": 1500583434,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 20 Jul 2017 20:43:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&source=tok_1AhlV0HFLiFZKNGu2yqE9POv&description=stripe+charge
    headers:
      Authorization:
      - Bearer sk_test_uZbGhThn0i7UAyePVJ5ert6M
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1AhlV1HFLiFZKNGuqGoQa6ci"
          }
        }
  recorded_at: Thu, 20 Jul 2017 20:43:54 GMT
recorded_with: VCR 3.0.3
